{% extends 'partials/base.html' %}
{% block title %}New Post{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3 justify-content-center">
        <div class="col-md-8">
<div class="card my-3 shadow" >
    <div class="card-body">
        <form method="POST" id="form-container" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- {{ s_form|crispy }} -->
        
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="section-form" hidden>
                {{form |crispy}}
                </div>
            {% endfor %}
            

            <!-- {% for s_form in s_form  %}
                {{ formset_form }}
            {% endfor %} -->
            <button id="add-form" type="button">Add Another Section</button>
            <button id="remove-form" type="button" hidden>Remove Last Section</button>
            <input class="btn btn-primary btn-block" type="submit" value="Post">
        </form>
    </div>
</div>
    </div>
    </div>
</div>
<script>
    let sectionForm = document.querySelectorAll(".section-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_postsection_set-TOTAL_FORMS")

    let removeButton = document.querySelector("#remove-form")
    

    let formNum = sectionForm.length-1
    addButton.addEventListener('click', addForm)
    removeButton.addEventListener('click', removeForm)

    
    function addForm(e){
        if(!document.querySelector(".section-form").hasAttribute('hidden')){
        e.preventDefault()
        
        let newForm = sectionForm[0].cloneNode(true)
        let contentRegex = RegExp(`postsection_set-(\\d+)-content`, 'g');
        let imageRegex = RegExp(`postsection_set-(\\d+)-image`, 'g');
        let idRegex = RegExp(`postsection_set-(\\d+)-id`, 'g');
        let deleteRegex = RegExp(`postsection_set-(\\d+)-DELETE`, 'g');
        let postModelRegex = RegExp(`postsection_set-(\\d+)-post_model`, 'g');
        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(contentRegex, `postsection_set-${formNum}-content`)
                                              .replace(imageRegex, `postsection_set-${formNum}-image`)
                                              .replace(idRegex, `postsection_set-${formNum}-id`)
                                              .replace(deleteRegex, `postsection_set-${formNum}-DELETE`)
                                              .replace(postModelRegex, `postsection_set-${formNum}-post_model`);
        // alert(newForm.innerHTML
        container.insertBefore(newForm, addButton)
        
        
        totalForms.setAttribute('value', `${formNum+1}`)
        // console.log(totalForms.getAttribute('value'))
        }
        else{
        sectionForm.forEach(form => {
            form.removeAttribute('hidden');
            document.querySelector("#remove-form").removeAttribute('hidden')
        });

    }
    }
    function removeForm(e) {
        // console.log(formNum)
        if (formNum > 0) {
            // let lastForm = sectionForm[formNum];
            // console.log(lastForm)
            
            // console.log(totalForms)
            document.querySelectorAll(".section-form")[formNum].remove(); 
            

            totalForms.setAttribute('value', `${formNum}`);
            formNum--;
            
            // console.log(formNum+1)
        }
        else if (formNum==0){
            // console.log('Hide')
            // console.log(totalForms)
            sectionForm.forEach(form => {
                // console.log(form)
            form.setAttribute('hidden','true');
        });
        let textarea = document.querySelectorAll(".section-form textarea")[formNum];
        textarea.value = '';
        let imageField = document.querySelectorAll(".section-form input[type='file']")[formNum];
        imageField.value = '';
        // console.log(document.querySelectorAll(".section-form")[formNum].getElementsByTagName('textarea').value = '')
        // document.querySelectorAll(".section-form")[formNum].getElementsByTagName('textarea').innerHTML = ''
        document.querySelector("#remove-form").setAttribute('hidden','true')
        }
    }
    
</script>
{% endblock %}
